In [2]:
import pandas as pd
import requests

In [4]:
#hit the api using requests.get()
data=requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page=1')

In [9]:
df=pd.DataFrame(data.json()['results'])[['title','popularity','release_date','vote_average','vote_count']]

In [10]:
df

,title,popularity,release_date,vote_average,vote_count
0,The Shawshank Redemption,210.704,1994-09-23,8.708,27246
1,The Godfather,182.054,1972-03-14,8.700,20692
2,The Godfather Part II,113.029,1974-12-20,8.572,12482
3,Schindler's List,88.182,1993-12-15,8.567,15897
4,12 Angry Men,48.620,1957-04-10,8.547,8693
5,Spirited Away,110.203,2001-07-20,8.538,16558
6,Dilwale Dulhania Le Jayenge,50.680,1995-10-20,8.500,4439
7,The Dark Knight,164.848,2008-07-16,8.500,32966
8,The Green Mile,75.942,1999-12-10,8.507,17497
9,Parasite,113.646,2019-05-30,8.506,18344
10,Flow,365.762,2024-08-29,8.483,361
11,Pulp Fiction,105.943,1994-09-10,8.487,27963
12,Your Name.,112.901,2016-08-26,8.485,11405
13,The Lord of the Rings: The Return of the King,158.981,2003-12-17,8.482,24271
14,Forrest Gump,190.110,1994-06-23,8.470,27489
15,"The Good, the Bad and the Ugly",72.715,1966-12-22,8.465,8636
16,Seven Samurai,61.760,1954-04-26,8.500,3689
17,Grave of the Fireflies,0.049,1988-04-16,8.500,5575
18,GoodFellas,78.902,1990-09-12,8.456,12892
19,Cinema Paradiso,38.141,1988-11-17,8.450,4376

In [26]:
#as we know how to hit api we have 490 total pages.so hit the api in loop
df=pd.DataFrame()
for i in range(1,491):
    temp_Data=requests.get(f"https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page={i}")
    temp_Df=pd.DataFrame(temp_Data.json()['results'])
    temp_Df=temp_Df.loc[:,['title','popularity','release_date','vote_average','vote_count']]
    df=pd.concat([df,temp_Df],ignore_index=True)

In [28]:
#exporting the df to csv
df.to_csv('movv.csv', index=False)